﻿<%@ Page Title="" Language="C#" MasterPageFile="~/DispatchExecutive/dispatch.master" AutoEventWireup="true" CodeFile="OrderDetails.aspx.cs" Inherits="DispatchExecutive_index" %>
<%@ Register src="controls/orderDetails.ascx" tagname="orderDetail" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:orderDetail ID="orderDetail1" runat="server" />

</asp:Content>

