﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CallExecutive/callExec.master" AutoEventWireup="true" CodeFile="Checkout.aspx.cs" Inherits="CallExecutive_OrderList" %>
<%@ Register Src="~/CallExecutive/Control/viewcartctrl.ascx" TagName="viewcart" TagPrefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<uc2:viewcart ID="ctrl_viewcart" Runat="Server" />
</asp:Content>

