﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CallExecutive/callExec.master" AutoEventWireup="true" CodeFile="Ordermessage.aspx.cs" Inherits="Ordermessage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .clearfix
        {
            font-weight: 700;
            
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="row m10">
    <div class="registerdiv clearfix">

<%--<h2 style="font-size:18px; color:#116591; font-weight:normal; padding:10px 0px;">Order Complete</h2>
<div class="line"></div>

<p>
Your order is placed thank you for placing an order at anantfresh.com.<br /> We will get back to you shortly.
Your Order no. is: <asp:Literal ID="ltrl_msg" runat="server"></asp:Literal>
<br />
<div class="title"></div>
<a href="/product" class="_button1 backgroundbg border-radius right" ><< Continue Shopping </a>
</p>--%>

Order is complete Successfully. Your Order no. is: <span style="color: #7CAD54;"><asp:Literal ID="ltrl_msg" runat="server"></asp:Literal></span>. Please note down your Order no for future references.
  <a href="/product"  style=" display:none; "> <span class="OrderMessage"></span></a> 
</div></div>
</asp:Content>

