﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CallExecutive/callExec.master" AutoEventWireup="true" CodeFile="orderList.aspx.cs" Inherits="CallExecutive_orderList" %>
<%@ Register Src="~/CallExecutive/Control/orderList.ascx" TagName="OrderHistory" TagPrefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">


<script src="../js/jquery-1.11.0.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#orderActive").addClass('active');

    });



</script>


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<uc2:OrderHistory ID="ctrl_OrderHistory" runat="server" />
</asp:Content>

