﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CallExecutive/callExec.master" AutoEventWireup="true" CodeFile="OrderHistoryUser.aspx.cs" Inherits="CallExecutive_OrderHistoryUser" %>
<%@ Register Src="~/CallExecutive/Control/UserOrderHistory.ascx" TagName="order" TagPrefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div style="width:75%; float:left;">
<uc2:order ID="ctrl_order" runat="server" /> 
</div>

</asp:Content>

