﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CallExecutive/callExec.master" AutoEventWireup="true" CodeFile="OrderDetails.aspx.cs" Inherits="CallExecutive_OrderDetails" %>
<%@ Register Src="~/CallExecutive/Control/orderDetails.ascx" TagName="OrderDetails" TagPrefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<uc2:OrderDetails ID="ctrl_OrderDetails" runat="server" />
</asp:Content>

