﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="admin.master.cs" Inherits="admin_admin" %>

<%@ Register src="controls/logoutAdmin.ascx" tagname="logoutAdmin" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Admin Panel</title>



    <script src="../js/jquery-1.11.0.js" type="text/javascript"></script>
    <link href="../css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../css/admin.css" rel="stylesheet" type="text/css" />
    <link href="../css/bar.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="../images/favicon.ico">
    <link href="../css/jquery.jnotify.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery.jnotify.js" type="text/javascript"></script>
    <script src="../js/fresh.js" type="text/javascript"></script>


    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
  
    <form id="form1" runat="server">
    <header id="header">
     <div class="main">
      <div class="logo"><img src="../images/smalllogo.png"/></div>
      <div class="adminLogin" style="text-align:right;">
      <div class="adminwelcome"><span>Welcome <asp:Label ID="lbl_name" runat="server" ></asp:Label></span></div>
      <asp:LinkButton ID="lb_logout" CssClass="backgroundbg border-radius" runat="server" onclick="lb_logout_Click" >Logout</asp:LinkButton>
      <asp:Label runat="server" ForeColor="White" Font-Bold="true" ID="lblCounter"></asp:Label>
      </div>
               
     </div>
    </header>
    <div class="clear"></div>
    
    <div class="navigation">
    <div class="main clearfix">
       <ul id="Ul1" class="navul">
                <li id="prodActive"><a href="Items.aspx">Product</a></li>            
                <li id="orderActive"><a href="orderList.aspx">Order List</a></li>
                <li id="addprodActive"><a href="add-product.aspx">Add Product</a></li>
                <li id="addcatActive"><a href="addcategory.aspx">Category</a></li>
                <li id="addsubcatActive"><a href="AddSubCategory.aspx">Subcategory</a></li>
                <li id="custActive" ><a href="userlist.aspx">Customer</a></li>  
                <li id="addRole"><a href="addUser.aspx">Employee</a></li>
                <li id="addsalesperson"><a href="salesperson.aspx">Salesman</a></li>
                <li id="pressrelease"><a href="pressrelease.aspx">Press Release</a></li>
                <li id="OrderLog"><a href="orderlog.aspx">Order Log</a></li>
                <li id="enqActive"><a href="bulEnquiry.aspx" >Enquiry</a></li>
                <li id="feedActive"><a href="Feedback.aspx" >Feedback</a></li>
                <li id="uploadexcelActive"><a href="readExcel.aspx">Upload Through Excel</a></li>
         </ul>
    </div>
    </div>
    
    <div class="clear"></div>

    <div class="m20t">
   <div class="main">
  <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div class="admin_block">
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </div>
    </div>
    <div class="clear"></div>

<footer id="footer">
     <div class="main">

      <div class="row">
      <p class="left">&copy; 2014, All rights Reserved   |  Privacy Policy</p><p class="right"><span class="left" style="margin-right:10px;">Powered By </span><span class="left"><a href="#">Webshree</a></span></p>
      </div>
     </div>
    </footer>


    </form>
 <%--<a href="#" class="go-top">Go Top</a>--%>

</body>
</html>
