﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="genrateInvoice.aspx.cs" Inherits="Admin_genrateInvoice" %>

<%@ Register Src="~/control/GenrateInvoice.ascx" TagName="Invoice" TagPrefix="uc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
   <uc1:Invoice ID="Invoice1" runat="server"></uc1:Invoice>
    </div>
    </form>
</body>
</html>
