﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/admin.master" AutoEventWireup="true" CodeFile="OrderDetails.aspx.cs" Inherits="DispatchExecutive_index" %>
<%@ Register src="controls/orderDetails.ascx" tagname="orderDetail" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<script src="../js/jquery-1.11.0.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#orderActive").addClass('active');

    });
</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:orderDetail ID="orderDetail1" runat="server" />

</asp:Content>

