<%@ Control Language="VB" AutoEventWireup="false" CodeFile="chkoutctrl.ascx.vb" Inherits="chkoutctrl" %>
<table width="100%" height="80" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="324">
            <a href="/home">
                <img src="images/logoo.jpg" width="324" height="80" border="0"></a>
        </td>
        <td align="right" valign="top" class="login">
            <p style="color: #FFF;">
                Welcome <strong>&nbsp;<asp:LinkButton ID="lnkusr" runat="server"></asp:LinkButton></strong>
                | <strong>
                    <asp:LinkButton ID="lnklgns" runat="server" CausesValidation="False">Log in</asp:LinkButton></strong>
                <asp:Label ID="lval" runat="server" Text="|"></asp:Label>
                <strong>
                    <asp:LinkButton ID="lnkregs" runat="server" CausesValidation="False">Register</asp:LinkButton></strong>&nbsp;You
                have <strong>
                    <asp:LinkButton ID="lnkbtn" runat="server" CausesValidation="false"></asp:LinkButton>
                </strong>in <span>shopping bag</span>&nbsp;<asp:LinkButton ID="chklnk" runat="server"
                    CausesValidation="false" Visible="False">Checkout</asp:LinkButton>
            </p>
            <p style="color: #FFF;">
                For Customer care contact us at:<strong> <a href="mailto:support@thewatchshop.in">sarfaraj@gmai.com</a>
                </strong>+91 9815289632 Mon-Sat, 11AM to 7PM</p>
            <p>
                &nbsp;</p>
        </td>
    </tr>
</table>
