﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="logout.ascx.cs" Inherits="control_logout" %>

<table cellpadding="5" cellspacing="0" border="0" >
    <tr>
        <td>
            <asp:Label ID="lblWelcome" runat="server" Text="Welcome"></asp:Label>
        </td>
        <td>
            <asp:LinkButton ID="lnkLogout" runat="server" onclick="lnkLogout_Click">Logout</asp:LinkButton>
        </td>
    </tr>
</table>
