﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MenuMyAccount.ascx.cs" Inherits="control_MenuMyAccount" %>

 <div class="row">
 <ul class="myacntul">
 <li id="h1" runat="server"><a href="/OrderHistory" data-toggle="tab">Order History</a></li>
 <li id="h2" runat="server"><a href="/Profile" data-toggle="tab">My Profile</a></li>
 <li id="h3" runat="server"><a href="/changepassword" data-toggle="tab">Change Password</a></li>
 </ul>
 </div>


