﻿body{ font-family:Open Sans; font-weight:normal;}
ul li{ list-style:none;}
a{text-decoration:none;  -webkit-transition: all .5s linear; transition: all .5s linear; -o-transition: all .5s linear; display:block;}
p{ font-size:12px; margin-top:10px; line-height:20px; text-align:justify;}

.clear{ clear:both;}
.clearfix:after{ clear:both; display:block; content:'';}
.progress_bg{ position:fixed; width:100%; height:100%; top:0; left:0;  background:rgba(255,255,255,.5);text-align:center; z-index:9999; padding:22% 0%;}
/*====================================================
            All heading Css
====================================================*/
h1{font-size:24px; color:#fff;}
h2{font-size:20px; font-weight:normal;}
h3{ font-size:18px; font-weight:normal;}
h4{ font-size:16px; color:#333; font-weight:normal;}
h5{ font-size:12px; color:#000; font-weight:bold;}
h6{ font-size:14px; color:#fff;}
/*====================================================
            Form Css
====================================================*/
.input{ width:96%; border:1px solid #ddd; outline:none; font-weight:normal; font-size:13px; color:#333; padding:8px 5px; border-radius:5px;}
.textarea{ height:60px !important; font-size:12px; color:#333; height:100px; outline:none; font-weight:normal; border:1px solid #ddd; padding:5px; width:96%; border-radius:5px;}
.error1{ color:#f00; font-size:12px; text-align:right; margin-top:5px;}
.inputddn{ width:97.5%; border:1px solid #ddd; outline:none; font-weight:normal; font-size:13px; color:#333; padding:8px 5px; border-radius:5px; }

.checkbox{ float:left; margin-right:25px;}
.checkbox input[type="checkbox"]{ float:left; margin-right:5px; cursor:pointer;}
.checkbox label{ float:left; font-size:14px; color:#333;}
.cursor{ cursor:pointer;}
.wid{ width:90%;}
input[type="file"]{ margin-right:10px; border-radius:5px !important; cursor:pointer; display: inline-block; background: -webkit-linear-gradient(top, #2e89b9,#126692); background: -moz-linear-gradient(top, #2e89b9,#126692);
  border: 1px solid #fff; border-radius: 3px; padding: 3px 8px; outline: none; white-space: nowrap; -webkit-user-select: none;
  cursor: pointer;  color:#fff;  box-shadow:0px 1px 1px #000;  font-weight: 700;  font-size: 10pt;}

  
.submit{ background: -webkit-linear-gradient(top, #2e89b9,#126692); outline:none;  background: -moz-linear-gradient(top, #2e89b9,#126692); background: -o-linear-gradient(top, #2e89b9,#126692); background: -ms-linear-gradient(top, #2e89b9,#126692);
    color:#fff; border:1px solid #fff; padding:5px 20px; cursor:pointer; box-shadow:0px 1px 2px #000; border-radius:5px;}
.submit:hover{background:-webkit-linear-gradient(#baf86e, #5bb500); background:-moz-linear-gradient(#baf86e, #5bb500); background:-o-linear-gradient(#baf86e, #5bb500);}

.button{ outline:none; padding:3px 5px; cursor:pointer;  background: -webkit-linear-gradient(top, #2e89b9,#126692);  background: -moz-linear-gradient(top, #2e89b9,#126692); background: -o-linear-gradient(top, #2e89b9,#126692); background: -ms-linear-gradient(top, #2e89b9,#126692);
    color:#fff; border:1px solid #fff;  box-shadow:0px 1px 2px #000; border-radius:5px;}
.button:hover{background:-webkit-linear-gradient(#baf86e, #5bb500); background:-moz-linear-gradient(#baf86e, #5bb500); background:-o-linear-gradient(#baf86e, #5bb500);}
/*===================================================
           Table Css
===================================================*/
.table{ width:100%; border-collapse:collapse;}
.table  tr > th[scope=col]{ background:#116591; padding:5px; font-size:12px; font-weight:bold; border:1px solid #fff; color:#fff; vertical-align:middle;}
.table  tr > th[scope=col] input[type="checkbox"]{ margin-right:10px;}
.table  tr > th[scope=col]:first-child{ text-align:left; width:91px;}

.table  tr > td{ background:#e4e6e8; border:1px solid #fff; padding:5px; font-size:13px; color:#333; vertical-align:middle;}
.table  tr > td:first-child{ text-align:left;}
.table  tr > td > table { border-collapse:separate; border-spacing:3px;}
.table  tr > td > table  tr >  td{ background:#116991; color:#fff; padding:0; }
.table  tr > td > table  tr >  td span{ display:block; padding:5px 10px; background:#5bb500;}
.table  tr > td > table  tr >  td a{ display:block;  padding:5px 10px;}
.table  tr > td .pimg{width:50px; height:50px; float:left;}
.table  tr > td .pimg img{max-width:100%; height:auto;}

.tblhd{ padding:7px 5px !important; text-align:center; background:#116591 !important; color:#fff !important;}

.cartImg{ width:80px; height:80px; text-align:center; float:left; margin-right:10px;}
.cartImg img{ max-width:100%; height:auto;}
.text{ float:left; text-align:left; padding:10px 0px;}
.focus{box-shadow:inset 0px 1px 2px #000;    background-color: #bacea5;}
.cal{ position:relative; top:10px;}
/*====================================================
           Single css
====================================================*/
.italic{ font-style:italic;}
.left{ float:left;}
.right{ float:right;}
.mclear{ margin:0;}
.m5{ margin-top:5px;}
.error{ color:#f00; font-size:12px; font-weight:normal; margin-top:5px;}
.m10{ margin-top:10px;}
.m20{ margin-top:20px;}
.m20t{ margin-top:20px; margin-bottom:20px;}

/*==============================================================
                    Wrapper class
==============================================================*/
.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}
.border-radius{border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px;}
.backgroundbg{color:#fff; background:-webkit-linear-gradient(#2e89b9,#126692);  background:-moz-linear-gradient(#2e89b9,#126692);  background:-o-linear-gradient(#2e89b9,#126692); -webkit-transition: all 1s linear; transition: all 1s linear;}
.transition { -webkit-transition: all .5s linear; transition: all .5s linear} 
.wrapper:after,
.clearfix:after{clear:both; display:block; content:'';}
.span_block{ display:block;}
.wrapper{ width:100%; height:auto;}

/*=============================================================
                    same property for all classes
==============================================================*/
#header, #footer, #section{ width:100%; min-width:1170px; position:relative; display:block; float:left;}
.support, .search, .login{ position:relative; height:100%; display:block;}
.main{ width:1170px; margin:0 auto; height:100%; position:relative;}


#header{ background:#116591; border-bottom:2px solid #000; padding:5px 0px 10px;}
.logo{ float:left; width:50%;}
.adminLogin{ float:right; text-align:right;}
.adminLogin .adminwelcome{ float:left; display:block; padding:5px 10px; margin-right:10px; margin-top:30px;}
.adminLogin .adminwelcome span{ color:#fff; font-size:14px;}
.adminLogin a{ float:left; color:#fff; margin-top:30px; font-size:15px; padding:5px 10px 7px; box-shadow:0px 1px 1px #000;}
.adminLogin a:hover{ background:#fff; color:#000;}


.navigation{ width:100%; float:left;  background:#6caf28;}
.navul{ padding:0; margin:0; list-style:none;}
.navul li{ float:left; line-height:30px; text-align:center; color:#fff; border-right:1px solid #fff;}
.navul li.active{ background:#116591;}
.navul li:hover{ background:#116591;}
.navul li:last-child{ border:none;}
.navul li a{ display:block; padding:5px 8.7px; font-size:14px; color:#fff;}


.ProductTitle{ width:99.2%; float:left; padding:5px; }
.column{ width:100%;  float:left; background:#f9f9f9; border:1px solid #ddd; padding:2%;}
.center{ width:80%; margin:auto;}
.productul{ padding:0; margin:0; list-style:none;}
.productul li{ float:left; width:100%; margin:8px 0px;}
.lbl{ float:left; width:30%; color:#333; font-size:12px; font-weight:bold;}
.inputbox{ width:70%; float:left;}
.scroll{ overflow:auto;}

.spanhd{display:block;}
.spanhd > font b{display:block; background:#116591; color:#fff; font-size:18px; padding:5px; width:93.2%;}
.spanhd br{ display:none;}
.spanhd table { border-collapse:collapse; width:95%;}
.spanhd table td{ padding:7px 5px; background:#ddd; border:1px solid #ccc; width:50%;}
.spanhd b{ color:#333; font-weight:normal; font-size:15px; display:block; width:100%;}
.ordrul{padding:0;  margin:0; list-style:none;}
.ordrul li{ float:left; width:100%; padding:5px 0px;  border-bottom:1px solid #ddd; }
.ordrul li:last-child{ border:none;}
.lft{ float:left; width:50%;}
.txt{ float:left; width:30%; font-size:13px; color:#333; font-weight:bold; text-align:left;}
.info{ float:left; width:70%; font-size:13px; color:#333; font-weight:bold; text-align:left;}
/*===================================================
              Footer css
====================================================*/
#footer{ background:#116591; border-top:3px solid #000; bottom:0; margin-top:20px; padding-top:20px;}
#footer a{ color:#fff; position:relative;}
#footer a:hover{ color:#000;}
#footer p{ color:#fff;}
.colum1{ float:left; width:20%}
.colum1 h3{ color:#fff; padding:15px 0px 10px;}
.colum1 p{ color:#fff;}
.one{ color:#fff;}
.colum1 .footerul{ padding:0; margin:0; list-style:none;}
.colum1 .footerul li{ position:relative; float:left; width:100%; padding:5px 0px; text-align:left;}
.colum1 .footerul li a{ display:block; color:#fff; font-size:12px;}
.colum1 .footerul li a:hover{ color:#000;}
.fsep{ float:left; padding:0% 2%;}

.pricdl{ padding:5px ; width:310px; float:right; text-align:right;}
.pricdl ul{ padding:0; margin:0; list-style:none;}
.pricdl ul li{ float:left; width:100%;   margin:1px;}
.pricdl .sp1{ width:188px; float:left; background:#ccc; color:#1176ae; font-family:Verdana; font-size:13px; font-weight:bold; float:left; display:block; padding:5px;}
.pricdl .sp2{ width:100px; text-align:left; 
               font-weight:bold; float:right; background:#ccc; padding:5px; font-family:Verdana; font-size:13px; display:block;}
               
.grdtd
{
 font-size:16px; padding:5px; font-family:Verdana;  font-weight:bold; text-align:center;    
}
.grdtdwidth
{
 width:7%;   
}

.gdwd
{
 width:11%;   
    
}
