﻿/*=====================

Author     :     PRADEEP KUMAR
Version    :     v.2
Date       :     8-Aug-2014
Website    :     Anantfresh.com
Company    :    Webshree Technology

*/


body {
    font-family: Open Sans;
    font-weight: normal;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    -o-transition: all .5s linear;
    display: block;
}

p {
    color: #333;
    font-size: 12px;
    font-family: Verdana;
    margin-top: 10px;
    line-height: 20px;
    text-align: justify;
}

.clear {
    clear: both;
}

.clearfix:after {
    clear: both;
    display: block;
    content: '';
}

.progress_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.5);
    text-align: center;
    z-index: 9999;
    padding: 22% 0%;
}
/*====================================================
            All heading Css
====================================================*/
h1 {
    font-size: 24px;
    color: #fff;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

h4 {
    font-size: 16px;
    color: #333;
    font-weight: normal;
}

h5 {
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

h6 {
    font-size: 14px;
    color: #fff;
}

.address {
    font-size: 13px;
    color: #333;
    font-weight: normal;
    line-height: 18px;
}

.mailto {
    font-weight: normal;
    font-size: 13px;
    color: #333;
}

    .mailto:hover {
        color: #5bb500;
    }
/*====================================================
            Form Css
====================================================*/
.input {
    width: 96%;
    border: 1px solid #ddd;
    outline: none;
    font-weight: normal;
    font-size: 13px;
    color: #333;
    padding: 8px 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #666;
}

.input1 {
    width: 96%;
    border: 1px solid #ddd;
    outline: none;
    font-weight: normal;
    font-size: 13px;
    color: #333;
    padding: 8px 5px;
    border-radius: 5px;
}

.inputddn {
    width: 98%;
    border: 1px solid #ddd;
    outline: none;
    font-weight: normal;
    font-size: 13px;
    color: #333;
    padding: 8px 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #666;
}

.textarea {
    font-size: 12px;
    color: #333;
    font-weight: normal;
    outline: none;
    border: 1px solid #ddd;
    padding: 5px;
    width: 96%;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #666;
    height: 60px !important;
}

.error1 {
    color: #f00;
    font-size: 12px;
    text-align: right;
    margin-top: 5px;
}

.top5 {
    margin-top: 5px;
}

.check {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}
/*===================================================
           Table Css
===================================================*/
.tblhd {
    padding: 7px 5px !important;
    text-align: center;
    background: #116591 !important;
    color: #fff !important;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

    .table tr > th[scope=col] {
        background: #116591;
        padding: 5px;
        border: 1px solid #fff;
        color: #fff;
        vertical-align: middle;
    }

    .table tr > td {
        border: 1px solid #fff;
        padding: 5px;
        font-size: 13px;
        color: #333;
        vertical-align: middle;
    }

.cartImg {
    width: 80px;
    height: 80px;
    text-align: center;
    float: left;
    margin-right: 10px;
}

    .cartImg img {
        max-width: 100%;
        height: auto;
    }

.text {
    float: left;
    text-align: left;
    padding: 10px 0px;
}

.table1 {
    width: 100%;
    border-collapse: collapse;
}

    .table1 th {
        padding: 5px;
        border: 1px solid #fff;
        background: #116591;
        vertical-align: middle;
        text-align: center;
        font-size: 15px;
        color: #fff;
    }

    .table1 td {
        padding: 5px;
        border: 1px solid #fff;
        background: #ddd;
        vertical-align: middle;
        text-align: center;
        font-size: 15px;
        color: #333;
    }
/*====================================================
           Single css
====================================================*/
.italic {
    font-style: italic;
}

.left {
    float: left;
}

.right {
    float: right;
}

.mclear {
    margin: 0 !important;
}

.m5 {
    margin-top: 5px;
}

.error {
    color: #f00;
    font-size: 12px;
    font-weight: normal;
}

.m10 {
    margin-top: 10px;
}

.m20 {
    margin-top: 20px;
}

.lbl1 {
    width: 30%;
    float: left;
    font-size: 12px;
    color: #333;
    font-weight: bold;
}
/*==============================================================
                    Wrapper class
==============================================================*/
.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.border-radius {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.backgroundbg {
    color: #fff;
    background: -webkit-linear-gradient(#2e89b9,#126692);
    background: -moz-linear-gradient(#2e89b9,#126692);
    background: -o-linear-gradient(#2e89b9,#126692);
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.transition {
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.wrapper:after,
.clearfix:after {
    clear: both;
    display: block;
    content: '';
}

.span_block {
    display: block;
}

.wrapper {
    width: 100%;
    height: auto;
}

/*=============================================================
                    same property for all classes
==============================================================*/
#header, #footer, #section {
    width: 100%;
    min-width: 1170px;
    position: relative;
    display: block;
    float: left;
}

.support, .search, .login {
    position: relative;
    height: 100%;
    display: block;
}

.main {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

/*-------------------------------------
           Header css
-------------------------------------*/
#header {
    position: fixed;
    height: 51px;
    z-index: 9999;
    padding: 5px 0px;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    box-shadow: 0px 1px 2px #000;
    background: #5bb500 url(/images/headre_background.png) no-repeat;
    background-size: cover;
    background-origin: content-box;
}

.sticky {
    height: 51px;
    background: #116591 url(/images/headre_background.png) no-repeat !important;
    position: relative;
    background-size: cover !important;
    background-origin: content-box !important;
}


    .sticky .italic {
        color: #fff;
    }

    .sticky ._cart {
        margin-top: -38px;
        float: left;
        position: relative;
        width: 340px;
    }

        .sticky ._cart .wishlist {
            margin-top: 2px;
        }

        .sticky ._cart .cart {
            margin-top: 4px;
        }

    .sticky .smallogo {
        display: block;
    }

    .sticky .suprt {
        display: none;
    }

    .sticky .navbtn {
        background: url('../images/navMenu_icon.png') right top no-repeat;
        width: 32px;
        height: 32px;
        display: block;
        float: right;
        padding: 5px;
        display: block;
        position: relative;
        top: 10px;
        cursor: pointer;
    }

    .sticky .logindropdown {
        display: none;
        position: absolute;
        width: 180px;
        background: #ffffff;
        border: 1px solid #116591;
        float: right;
        top: 57px;
        right: 0px;
    }

    .sticky .loginul {
        padding: 0;
        margin: 0;
    }

        .sticky .loginul li {
            float: none;
            width: 95%;
            text-align: left;
            margin: 5px 0px;
            padding: 0px 5px;
        }

            .sticky .loginul li a:hover {
                background: #5bb500;
                border-radius: 5px;
                text-align: center;
                color: #fff;
            }

            .sticky .loginul li:first-child:hover {
                background: none;
            }

            .sticky .loginul li .usrdiv {
                background: #116591;
                text-align: center;
            }

            .sticky .loginul li .btn-top1 {
                color: #333;
                text-align: center;
                background: #ddd;
            }

.smallogo {
    display: none;
}

.support {
    width: 240px;
    position: relative;
}

.sicon {
    padding: 4px 0px;
}

.span_block {
    margin-left: 10px;
    padding: 4px 0px;
}
/*-----------------------------------
          Search css
----------------------------------*/
.search {
    width: 550px;
    margin-right: 10px;
}

.search_box {
    background: #fff;
    margin-top: 6px;
    float: left;
    padding: 2px;
    border: 1px solid #ddd;
    box-shadow: inset 0px 0px 3px #000;
    float: left;
    width: 100%;
}

._inputsearch {
    padding: 7px 5px;
    float: left;
    width: 83%;
    display: block;
    position: relative;
}

.errorsrch {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #f00;
}

._inputsearch input[type="text"] {
    width: 100%;
    border: 1px solid #fff;
    font-size: 12px;
    color: #333;
    outline: none;
}

._btnsearch {
    width: 15%;
    display: block;
    text-align: center;
    float: right;
    cursor: pointer;
}

    ._btnsearch a {
        display: block;
        padding: 8.5px 0px;
        cursor: pointer;
        font-size: 15px;
        color: #fff;
    }

        ._btnsearch a:hover {
            background: -webkit-linear-gradient(#baf86e, #5bb500);
            background: -moz-linear-gradient(#baf86e, #5bb500);
            background: -o-linear-gradient(#baf86e, #5bb500);
            color: #000;
        }

.login {
    width: 370px;
    float: right;
    text-align: right;
}

.loginul {
    padding: 0;
    margin: 6px 0px;
    list-style: none;
    width: 100%;
    position: relative;
}

    .loginul li {
        float: left;
        position: relative;
    }

.login .logindropdown {
    float: right;
}

.loginul li a {
    padding: 13px 10px;
    display: block;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

    .loginul li a:hover {
        color: #333;
    }

._cart {
    float: right;
}

.wishlist {
    border-radius: 360px;
    overflow: hidden;
    box-shadow: 0px 0px 3px #000;
    margin-top: 28px;
    display: block;
    float: left;
}

    .wishlist a {
        display: block;
        padding: 10px;
    }

.cart {
    float: left;
    margin-left: 10px;
    margin-top: 30px;
    width: 200px;
    box-shadow: 0px 0px 3px #000;
}

    .cart ._carta {
        padding: 5px;
        position: relative;
        float: left;
        color: #fff;
        -webkit-transition: all .5s ease;
    }

        .cart ._carta img {
            float: left;
            margin-right: 10px;
        }

        .cart ._carta span {
            float: left;
            position: relative;
            top: 5px;
        }


/*=============================================================
                      header bottom css
=============================================================*/
.header_btm {
    width: 100%;
    top: 61px;
    height: 189px;
    background: #116591;
    min-width: 1170px;
    display: block;
    position: relative;
}

._htop {
    margin: 10px 0px 0px 0px;
    width: 100%;
    float: left;
    height: auto;
}

._hbtm {
    float: left;
    width: 100%;
    position: relative;
}

.shop {
    float: left;
    width: 430px;
    margin-top: 10px;
    margin-left: 20px;
}

    .shop img {
        margin-top: 1px;
        float: left;
        margin-right: 20px;
    }

    .shop span {
        font-size: 20px;
        color: #fff;
        font-style: italic;
        top: 15px;
        position: relative;
    }

.navigation {
    float: left;
    width: 720px;
}

.innrul {
    padding: 0px;
    margin: 0;
    list-style: none;
}

    .innrul li {
        display: inline-block;
        width: 200px;
    }

.navmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
}

    .navmenu li {
        float: left;
        text-align: center;
        margin: 0px 6px;
        line-height: 18px;
    }

        .navmenu li a {
            border-radius: 360px;
            background: #fff;
            width: 100px;
            box-shadow: -1px -2px 2px #000;
            padding: 16px;
            height: 100px;
            display: block;
            overflow: hidden;
            text-align: center;
            font-size: 14px;
            color: #333;
        }

            .navmenu li a:hover {
                background: #ccc;
            }

            .navmenu li a img {
                position: relative;
                top: 10px;
            }

            .navmenu li a span {
                position: relative;
                top: 20px;
            }

.btmbrdr {
    border-top: 2px solid #000;
    background: #fff;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 6px 0px 0px;
    width: 100%;
    float: left;
}


/*==========================================================
            Main Content css
==========================================================*/
.main_content:after,
.row:after,
.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

.main_content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: auto;
}

.category {
    float: left;
    width: 205px;
    margin-right: 15px;
}

._maincategory {
    float: left;
    width: 100%;
    position: relative;
}

.categoryHover {
    position: absolute;
    z-index: 9999;
    width: 300px;
    height: 400px;
    top: 0px;
    left: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    background: #ccc;
    display: none;
}

._categoryName {
    width: 100%;
    padding: 5% 0%;
    background: -webkit-linear-gradient(#2e89b9,#126692);
    background: -moz-linear-gradient(#2e89b9,#126692);
    background: -o-linear-gradient(#2e89b9,#126692);
}

    ._categoryName h2 {
        margin-left: 10px;
        color: #fff;
    }

._categoryul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    ._categoryul li {
        margin: 1px 0px;
        border: 1px solid #ccc;
    }

        ._categoryul li a {
            font-size: 14px;
            padding: 10px;
            color: #1a658c;
            font-weight: normal;
        }

        ._categoryul li:hover {
            background: -webkit-linear-gradient(left, #ccc 5%,#fff);
            background: -moz-linear-gradient(left, #ccc 5%,#fff);
            background: -o-linear-gradient(left, #ccc 5%,#fff);
            display: block;
        }

.subcat {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

    .subcat img {
        position: absolute;
        top: 20;
        left: 20px;
    }

._subcategory {
    width: 100%;
    float: left;
}

._subcategoryName {
    padding: 5% 0% 5% 5%;
    color: #000;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    background: -webkit-linear-gradient(left, #ff9315 5%,#fff, #fff 95%);
    background: -moz-linear-gradient(left, #ff9315 5%,#fff);
    background: -o-linear-gradient(left, #ff9315 5%,#fff);
    display: block;
}

    ._subcategoryName h3 {
        margin-left: 10px;
    }

.Contentbox {
    float: left;
    width: 950px;
    height: auto;
}


.hoverdiv {
    background-color: #fff !important;
    padding: 10px;
    border: 1px solid #008ecd;
    display: none;
    float: left;
    left: 0;
    margin-left: 205px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    width: 400px;
    z-index: 9999;
    min-height: 100%;
    /*display:none; position:absolute; top:0; min-width:400px; left:205px; background:#f9f9f9; border:1px solid #1f85ba; z-index:99999; padding:10px;*/
}


.col {
    position: relative;
    height: auto;
    float: left;
}

ul.inrmenul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    ul.inrmenul li {
        position: relative;
        float: left;
        width: 190px;
        margin: 0px 5px;
        border-bottom: 1px solid #ccc;
    }

        ul.inrmenul li:hover {
            background: -webkit-linear-gradient(top,#fff,#ddd);
        }

            ul.inrmenul li:hover a {
                color: #5bb500;
            }

        ul.inrmenul li a {
            padding: 10px 5px;
            display: block;
            font-size: 13px;
            color: #333;
        }

        ul.inrmenul li:last-child {
        }

/*===================================================
                   Index page css
===================================================*/
.row {
    float: left;
    width: 100%;
}

.services {
    list-style: none;
    padding: 0;
    margin: 0 0 1px 0;
}

    .services li {
        width: 24.67%;
        display: inline-block;
        background: #5bb500;
        padding: 0px 0px;
    }

        .services li a {
            float: left;
            width: 100%;
        }

            .services li a .serviceicon {
                padding: 3px 0px;
                float: left;
                text-align: center;
                display: block;
                width: 40px;
                background: #116591;
                margin-right: 5px;
            }

            .services li a .serviceName {
                padding: 5px 0px;
                display: block;
                float: left;
                margin-top: 8px;
                text-align: center;
                font-size: 13px;
                color: #fff;
            }

.banner {
    width: 949px;
    border: 1px solid #ddd;
    float: left;
    margin-right: 10px;
    height: 300px;
    overflow: hidden;
}


/*-----------------------------------------------------
          Welcome css
-----------------------------------------------------*/
.welcome {
    float: left;
    width: 100%;
}

    .welcome h1 {
        color: #5bb500;
        font-size: 32px;
        font-style: italic;
    }

.welcomeimgae {
    padding: 5px;
    width: 150px;
    float: left;
    margin-right: 10px;
    border: 3px solid #ddd;
}

.productHeading {
    float: left;
    width: 100%;
    padding: 8px 0px;
    border: 1px solid #ddd;
    background: -webkit-linear-gradient(#ddd,#fff);
}

    .productHeading h4 {
        margin-left: 10px;
    }

.products {
    float: left;
    width: 100%;
    height: auto;
}

    .products > span {
        float: left;
        width: 100%;
    }

        .products > span > span {
            float: left;
            width: 23.9%;
            margin: 5px 5px;
        }

.itemul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .itemul li {
        width: 100%;
        display: inline-block;
        position: relative;
        border: 1px solid #d4d4d4;
    }

        .itemul li:first-child {
            margin-left: 0;
        }

        .itemul li a {
            display: block;
            width: 100%;
        }

            .itemul li a .catName {
                float: left;
                width: 96%;
                text-align: left;
                padding: 5px;
            }

                .itemul li a .catName span {
                    display: block;
                    font-size: 13px;
                    color: #333;
                    font-weight: bold;
                }

            .itemul li a .Pitem_img {
                display: block;
                width: 150px;
                height: 150px;
                margin: 10px auto;
                overflow: hidden;
                text-align: center;
                position: relative;
            }

                .itemul li a .Pitem_img img {
                    max-width: 100%;
                    height: auto;
                }

            .itemul li a .callitem_img {
                display: block;
                width: 100px;
                height: 100px;
                margin: 4px auto;
                overflow: hidden;
                text-align: center;
                position: relative;
            }

                .itemul li a .callitem_img img {
                    max-width: 100%;
                    height: auto;
                }


            .itemul li a .ProductName {
                text-align: center;
                padding: 5px;
                width: 96%;
            }

            .itemul li a .Price {
                text-align: center;
                display: block;
                width: 100%;
                margin: 5px 0px 10px 0px;
            }

                .itemul li a .Price span {
                    margin: 0px 2px;
                    font-size: 12px;
                    color: #26a538;
                    font-weight: bold;
                }

                    .itemul li a .Price span.cross {
                        color: #f00;
                    }

                    .itemul li a .Price span.new {
                        color: #135b92;
                    }

        .itemul li ._button {
            width: 98%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
        }

            .itemul li ._button img {
                float: left;
                margin-right: 3px;
                position: relative;
                top: -3px;
            }

            .itemul li ._button a {
                float: left;
                font-size: 11px;
                color: #fff;
                position: relative;
                top: 3px;
                font-weight: bold;
            }

            .itemul li ._button .addtowishlist {
                width: 48%;
                float: left;
            }

.itembttn {
    box-shadow: 0px 1px 0px #333;
    padding: 5px 3px;
    display: block;
    cursor: pointer;
}

.itemul li ._button .itembttn:hover {
    background: -webkit-linear-gradient(#baf86e, #5bb500);
    background: -moz-linear-gradient(#baf86e, #5bb500);
    background: -o-linear-gradient(#baf86e, #5bb500);
}

    .itemul li ._button .itembttn:hover span {
        color: #333;
    }

.itemul li ._button .addtocart {
    width: 40%;
    float: right;
}

.totalProdct {
    float: left;
    width: 100%;
    margin-top: 10px;
}

    .totalProdct span {
        font-size: 13px;
        color: #48820e;
        font-weight: bold;
    }

.code {
    margin-left: 10px;
    display: block;
    float: left;
    color: #48820e !important;
}

.directory {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 5px 0px;
    padding-bottom: 13px;
}

    .directory span {
        float: left;
        margin-right: 10px;
        font-size: 13px;
    }

        .directory span a {
            color: #333;
            font-weight: bold;
        }

.pFinalimage {
    float: left;
    width: 225px;
    text-align: center;
    height: 288px;
    position: relative;
    margin-right: 20px;
    border: 1px solid #ddd;
}

    .pFinalimage img {
        max-width: 100%;
        height: auto;
    }

.productInfo {
    float: left;
    width: 700px;
}

.itemTitle {
    float: left;
    padding: 5px 0px;
    width: 100%;
}

    .itemTitle h2 {
        color: #333;
    }

.prdct_ul_dis {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
}

    .prdct_ul_dis li {
        float: left;
        width: 100%;
        border-bottom: 1px dashed #757575;
        padding: 7px 0px;
    }

        .prdct_ul_dis li .ptag {
            float: left;
            color: #145180;
            font-size: 13px;
            font-weight: bold;
            width: 50%;
            text-transform: capitalize;
        }

        .prdct_ul_dis li .pprice {
            float: left;
            color: #000;
            font-size: 13px;
            font-weight: normal;
            width: 50%;
        }

        .prdct_ul_dis li:last-child {
            border-bottom: none;
        }

.btn {
    outline: none;
    padding: 5px 5px;
    color: #fff;
    font-size: 12px;
    box-shadow: 0px 1px 2px #000;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    display: block;
}

    .btn:hover {
        background: -webkit-linear-gradient(#baf86e, #5bb500);
        background: -moz-linear-gradient(#baf86e, #5bb500);
        background: -o-linear-gradient(#baf86e, #5bb500);
        color: #000;
    }

._button1 {
    outline: none;
    padding: 5px 10px;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    box-shadow: 0px 1px 3px #000;
    -webkit-transition: all .4s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
}

._butt_cancle {
    outline: none;
    padding: 5px 10px;
    opacity: .7;
    font-size: 13px;
    color: black;
    cursor: pointer;
    border: 1px solid #fff;
    box-shadow: 0px 1px 3px #000;
    -webkit-transition: all .4s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
}

._button1:hover {
    background: -webkit-linear-gradient(#baf86e, #5bb500);
    background: -moz-linear-gradient(#baf86e, #5bb500);
    background: -o-linear-gradient(#baf86e, #5bb500);
    color: #000;
}

.column {
    width: 100%;
    float: left;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 2%;
}

.focus {
    background-color: #bacea5;
    box-shadow: inset 0px 1px 2px #000;
}

.brdr {
    border-bottom: 1px dashed #ccc;
    padding: 10px 0px !important;
}


/*=========================================================
            Login Register css
=========================================================*/
.loginuser {
    float: left;
    width: 100%;
    background: url('../images/user_login.png') left top no-repeat;
    height: 36px;
    display: block;
    border-bottom: 5px solid #116591;
}

.registeruser {
    float: left;
    width: 100%;
    background: url('../images/register_user.png') left top no-repeat;
    height: 36px;
    display: block;
    border-bottom: 5px solid #116591;
}

.leftbox, .rightbox {
    display: block;
    padding: 2%;
    background: #f9f9f9;
    min-height: 230px;
    border: 1px solid #ddd;
    width: 45%;
    position: relative;
}

.leftbox {
    float: left;
    margin-right: 10px;
}

.rightbox {
    float: right;
}

.loginhed {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 0px 0px 10px;
}

    .loginhed h2 {
        color: #333;
    }

        .loginhed h2 span {
            position: relative;
            top: 13px;
        }

        .loginhed h2 img {
            float: left;
            margin-right: 10px;
        }

.lgnul li {
    padding: 5px 0px;
    float: left;
    width: 100%;
}

.lbl {
    float: left;
    width: 30%;
    color: #333;
    font-size: 13px;
    position: relative;
    top: 10px;
    font-weight: normal;
}

.ml5 {
    margin-right: 5px;
    display: block;
}

.c {
    color: #6abd13;
}

.inputbox {
    width: 70%;
    float: left;
}

.register {
    text-align: center;
}

.center {
    width: 80%;
    margin: auto;
}

.registerdiv {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;
    background: #f9f9f9;
    padding: 2%;
}

.title {
    width: 100%;
    float: left;
    padding: 12px 0px;
    border-bottom: 1px solid #ccc;
}

    .title span {
        font-size: 14px;
        color: #116591;
        font-weight: bold;
    }


.pager {
    width: 100%;
    text-align: center;
}

    .pager a {
        color: #fff;
        margin: 0px 2px;
        background: #116591;
        text-decoration: underline;
        padding: 5px 6px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
    }

    .pager b {
        background: #5bb500;
        padding: 2px 6px;
        border-radius: 5px;
    }

    .pager span {
        margin: 0px 1px;
        color: #FFFFFF;
        border-radius: 5px;
    }

    .pager a:hover {
        background: #5bb500;
        color: #fff;
    }

/*================================================
           User pages css
================================================*/
.myacntul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

    .myacntul li {
        float: left;
        width: 18%;
        background: #116591;
        margin: 0px 1px;
        text-align: center;
    }

        .myacntul li:hover {
            background: #ff8a0e;
        }

        .myacntul li a {
            padding: 13px 5px;
            display: block;
            font-size: 15px;
            font-family: Open Sans;
            color: #fff;
        }



/*=================================================
             Contact Us tabs
==================================================*/
.pd {
    padding-left: 0px !important;
}

.etabs {
    margin: 0;
    padding: 0;
}

.tab {
    display: inline-block;
    background: #ccc;
    zoom: 1;
    background: #5bb500;
    border: 1px solid #94b771;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

    .tab a {
        font-size: 14px;
        line-height: 2em;
        display: block;
        color: #fff;
        padding: 0 10px;
        outline: none;
    }

        .tab a:hover {
            text-decoration: underline;
            background: #116591;
        }

    .tab.active {
        background: #116591;
        padding: 4px 0px;
        border: 1px solid #116591;
        border-radius: 5px 5px 0px 0px;
        color: #fff;
        position: relative;
    }

    .tab a.active {
        font-weight: bold;
        color: #fff;
    }

.tab-container .panel-container {
    background: #fff;
    border: solid #666 1px;
    padding: 10px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
}

.tab-container h2 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.about {
    width: 100%;
    float: left;
    border: 1px solid #ddd;
    background: #f9f9f9;
    padding: 2%;
}

.clft {
    width: 49%;
}

.line {
    border-bottom: 2px solid #116591;
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.lbln {
    font-size: 13px;
    color: #000;
    margin-bottom: 5px;
    display: block;
}

.title1 {
    font-size: 15px;
    color: #116591;
    font-weight: bold;
    padding: 12px 5px;
    border-bottom: 1px solid #ccc;
}

.title2 {
    font-size: 13px;
    color: #116591;
    font-weight: bold;
    margin: 15px 0px 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

ol.ol {
    padding: 0;
    margin: 10px 0px 0px 20px;
}

    ol.ol li {
        float: left;
        width: 100%;
        padding: 5px 0px;
        font-family: Verdana;
        font-size: 12px;
        color: #333;
        line-height: 18px;
    }

.textbold {
    font-size: 11px;
    color: #116591;
    font-weight: normal;
}

/*===================================================
              Footer css
====================================================*/
#footer {
    background: #116591;
    border-top: 3px solid #6abd13;
    bottom: 0;
    margin-top: 20px;
}

    #footer a {
        color: #fff;
        position: relative;
    }

        #footer a:hover {
            color: #000;
        }

    #footer p {
        color: #fff;
    }

.colum1 {
    float: left;
    width: 30%;
}

    .colum1 h3 {
        color: #fff;
        padding: 15px 0px 10px;
        text-shadow: 0px 1px 2px #000;
    }

    .colum1 p {
        color: #fff;
    }

.one {
    color: #fff;
}

.colum1 .footerul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .colum1 .footerul li {
        position: relative;
        float: left;
        width: 100%;
        padding: 5px 0px;
        text-align: left;
    }

        .colum1 .footerul li a {
            display: block;
            color: #fff;
            font-size: 12px;
        }

        .colum1 .footerul li span {
            float: left;
            position: relative;
            top: 10px;
            color: #fff;
            font-size: 13px;
        }

        .colum1 .footerul li a:hover {
            color: #000;
        }

.fsep {
    float: left;
    padding: 0% 2%;
}

.fb_icon {
    background: url('../images/facebook_icon.png') left top no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
    float: left;
    padding-left: 42px;
}

    .fb_icon:hover {
        margin-left: 10px;
    }

.twtr_icon {
    background: url('../images/message_icon_footer.png') left top no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
    float: left;
    padding-left: 42px;
}

    .twtr_icon:hover {
        margin-left: 10px;
    }
/*===================================================
              Go Top css
====================================================*/

.go-top {
    position: fixed;
    bottom: 5em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;
}

    .go-top:hover {
        background-color: #5bb500;
    }

.Categ {
    width: 100%;
    float: left;
}

    .Categ ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .Categ li {
        float: left;
        width: 100%;
        position: relative;
    }

        .Categ li > a.cat {
            color: #FFF;
            font-size: 16px;
            display: block;
            padding: 6.5% 6%;
            background: -webkit-linear-gradient(#2e89b9,#126692);
            background: -moz-linear-gradient(#2e89b9,#126692);
            background: -o-linear-gradient(#2e89b9,#126692);
        }

        .Categ li a > img {
            float: left;
            margin-right: 5%;
        }

        .Categ li > ul.mainul {
            display: none;
        }

        .Categ li:hover ul {
            display: block;
            position: absolute;
            z-index: 99999;
            width: 205px;
        }

            .Categ li:hover ul li {
                background: #116591;
                width: 100%;
                float: left;
                border-top: 1px solid #fff;
            }

                .Categ li:hover ul li:hover {
                    background: #5bb500;
                }

                .Categ li:hover ul li a {
                    color: #fff;
                    padding: 10px;
                    font-size: 14px;
                    font-weight: normal;
                }




/*==============================================
                 New css
==============================================*/
.emailid {
    color: #fff;
}

    .emailid:hover {
        color: #116591;
    }

.txtedt {
    font-size: 12px;
    color: #116591;
    float: left;
    margin-right: 5px;
    font-weight: normal;
}

.pricet {
    font-size: 12px;
    color: #f00 !important;
    float: left;
    margin-right: 5px;
    font-weight: normal !important;
}

.tnc {
    float: right;
    right: 0;
}

.blk {
    color: #000 !important;
    font-size: 12px !Important;
    display: block;
    margin-top: 10px;
}


.Error {
    background: url('../images/404.png') left top no-repeat;
    width: 973px;
    height: 357px;
    display: block;
}

.CartEmpty {
    background: url('../images/cart.png') left top no-repeat;
    width: 973px;
    height: 357px;
    display: block;
}

.WishlistEmpty {
    background: url('../images/wishlist.png') left top no-repeat;
    width: 973px;
    height: 357px;
    display: block;
}

.OrderMessage {
    background: url('../images/ordershoping.png') left top no-repeat;
    width: 973px;
    height: 357px;
    display: block;
}

.capital {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.lower {
    text-transform: lowercase;
}


/*==============================================
     New css for sitemap created by parveen
==============================================*/

.colum2 .footerul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .colum2 .footerul li {
        padding: 10px 10px;
        float: left;
        display: block;
    }

        .colum2 .footerul li a {
            color: #333;
            font-size: 12px;
        }

            .colum2 .footerul li a:hover {
                color: #5bb500;
            }

.colum3 {
    width: 200px;
    float: left;
}

    .colum3 .footerul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .colum3 .footerul li {
            padding: 5px 20px;
            display: block;
        }

            .colum3 .footerul li a {
                color: #333;
                font-size: 12px;
            }

                .colum3 .footerul li a:hover {
                    color: #5bb500;
                }

.colum4 {
    width: 100%;
    float: left;
}

    .colum4 .footerul {
        padding: 0;
        margin-left: 20px;
        list-style: none;
    }

        .colum4 .footerul li {
            display: block;
            float: left;
            width: 25%;
            padding-top: 10px;
        }

            .colum4 .footerul li a {
                color: #333;
                font-size: 12px;
            }

                .colum4 .footerul li a:hover {
                    color: #5bb500;
                }

.title02 {
    font-size: 13px;
    color: #5bb500;
    font-weight: bold;
    padding: 5px 5px;
    border-bottom: 1px solid #ccc;
}

.title03 a {
    font-size: 13px;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
}

    .title03 a:hover {
        color: #5bb500;
    }

.tm10 {
    margin-top: 10px;
}

.grdtd a {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    width: 80%;
    margin: 0px auto;
}

    .grdtd a img {
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: 3px;
    }


/*================================
       10/11/2014 Update css
=================================*/
.press {
    width: 205px;
    overflow: hidden;
    height: auto;
}

.presshd {
    padding: 8px 7px;
    background: #116793;
}

    .presshd h3 {
        font-size: 14px;
        color: #fff;
        font-weight: normal;
        display: inline-block;
    }

    .presshd a {
        display: inline-block;
        text-align: right;
        font-size: 12px;
        position: relative;
        top: 4px;
        color: #fff;
        font-weight: normal;
        float: right;
    }

.press .bx-wrapper {
    border: 1px solid #ddd;
}

    .press .bx-wrapper .bx-viewport {
        height: 200px !important;
    }

.presshslider {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ddd;
}

    .presshslider li {
        text-align: center;
    }

        .presshslider li a img {
            max-width: 100%;
            max-height: 100%;
        }

.press .bx-pager {
    display: none;
}

.pressitem {
    width: 21.8%;
    padding: 1%;
    margin: .5% .3%;
    display: inline-block;
    min-height: 260px;
    background: #f5f5f5;
    vertical-align: top;
    border: 1px solid #eeeeee;
    overflow: hidden;
}

    .pressitem img {
        max-width: 100%;
        height: auto;
    }

.pressitem {
    position: relative;
}

.pressthumb {
    position: relative;
    text-align: center;
    width: 100%;
    height: 200px;
}

.pressitem h2 {
    position: relative;
    width: 96%;
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #000;
    background: #ddd;
    padding: 5px;
    font-weight: normal;
    font-family: Verdana;
    line-height: 18px;
}



.payment_radio {
    font-size: 13px;
    font-family: Verdana;
    font-weight: normal; padding:20px 0px; display:block;
    
}

    .payment_radio input[type=radio] {
        margin-right: 5px;
        display: inline-block;
        padding:5px 0px; 

    }

.payment_radio label {
    font-size:12px; margin-right:20px;
    padding:5px 0px; display:inline-block;
}
