﻿

/*====================================================
            All heading Css
====================================================*/
h1{font-size:24px; color:#fff;}
h2{font-size:20px; font-weight:normal;}
h3{ font-size:18px; font-weight:normal;}
h4{ font-size:16px; color:#333; font-weight:normal;}
h5{ font-size:12px; color:#000; font-weight:bold;}
h6{ font-size:14px; color:#fff;}




.thoma
{
font-family: Tahoma; margin: 0px; color: rgb(157, 157, 157); font-size: 11px;  
 font-style: normal; font-variant: normal; font-weight: normal; 
letter-spacing: normal; line-height: normal;
orphans: auto; text-align: start;
text-indent: 0px;
text-transform: none;
white-space: normal;
widows: auto; word-spacing: 0px;
-webkit-text-stroke-width: 0px; 
background-color: rgb(255, 255, 255);
font-family: Arial; 
                    
}
.link
{
    font-weight:bold; color: rgb(17, 85, 204); text-decoration: none; 
}
.com
{
    color: rgb(17, 105, 172);
}
.dot
{
    
    color: rgb(223, 41, 42);
}

.cname
{
    color: rgb(24, 155, 214);
}
.user
{
    font-size: x-large;color: #CC3300; font-weight:bold;
}
    
.midbox
{
     margin-top:15px; margin-bottom:15px;
}

.header
{
    clear:both;
    height:35px;
    font-size:20px;
    color:white;
    font-weight:bold;
    background-color:#2B94C3;
    text-align:left;
    
}
.footer
{
     font-size:small;
     color:White;
     font-size:small;
     font-weight:bold;
     text-align:center;
     height:30px;
     background-color: #2B94C3;
  
}

.content
{
     float:left;margin-left:48px; padding:5px;
}

.des
{
border: thin solid #C0C0C0;
width:700px;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}
.line
{
    background-color:#e9e9e9;
    margin: 0px;
}

.w
{
    color:White;
}
.b1
{
    font-weight: 700;
    font-size:14px;
}


.thom2
{

 color: rgb(157, 157, 157);
font-variant: normal;
letter-spacing: normal; line-height: normal;
orphans: auto;
 text-align: start;
text-indent: 0px;
text-transform: none;
white-space: normal;
widows: auto;
word-spacing: 0px;
font-size:13px;
-webkit-text-stroke-width: 0px; 
background-color: rgb(255, 255, 255);
}

.m5
{
    margin-left:5px;
    margin-right:5px;
}