﻿<%@ Page  Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" Title="error" CodeFile="apperror.aspx.cs" Inherits="apperror" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<a href="/product">
<span class="Error"></span></a>
</asp:Content>

