﻿<%@ Page Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" Title="Cart Item" CodeFile="cart.aspx.cs" Inherits="cart" %>
<%@ Register src="~/control/shopctrl.ascx" tagname="shopctrl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<uc1:shopctrl ID="shopctrl1" runat="server" />
</asp:Content>

