﻿<%@ Page Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" Title="Cart Checkout" CodeFile="cartCheckOut.aspx.cs" Inherits="cartCheckOut" %>
<%@ Register src="control/viewcartctrl.ascx" tagname="viewcartctrl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   <uc1:viewcartctrl ID="viewcartctrl1" runat="server" />
</asp:Content>

