﻿<%@ Page Title="Change Password" Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" CodeFile="changepasswd.aspx.cs" Inherits="changepasswd" %>

<%@ Register src="control/changpass.ascx" tagname="changpass" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  <uc1:changpass ID="changpass1" runat="server" />
</asp:Content>

