﻿<%@ Page Title="" Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" CodeFile="check.aspx.cs" Inherits="check" %>
<%@ Register Src="~/control/SubCategory.ascx" TagName="SCat" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

    <script src="js/fresh.js" type="text/javascript"></script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

subcat----------------------------------------------

<%--<uc1:SCat runat="server" ID="scat1" />--%>
<div class="Pitem_img">
    <div class="resizeimage" >
        <asp:Image ID="Image1" data-maxWidth="200" data-maxHeight="200" runat="server" ImageUrl="~/images/banner2.jpg" />
    </div>
</div>


</asp:Content>

