﻿<%@ Page Title="Order History" Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" CodeFile="OrderHistory.aspx.cs" Inherits="control_OrderHistory" %>
<%@ Register src="control/orderhistory.ascx" tagname="orderhistory" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<uc1:orderhistory ID="orderhistory1" runat="server" />
</asp:Content>

