﻿<%@ Page Title="" Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" CodeFile="Ordermessage.aspx.cs" Inherits="Ordermessage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="row">
<%--<h2 style="font-size:18px; color:#116591; font-weight:normal; padding:10px 0px;">Order Complete</h2>
<div class="line"></div>

<p>
Your order is placed thank you for placing an order at anantfresh.com.<br /> We will get back to you shortly.
Your Order no. is: <asp:Literal ID="ltrl_msg" runat="server"></asp:Literal>
<br />
<div class="title"></div>
<a href="/product" class="_button1 backgroundbg border-radius right" ><< Continue Shopping </a>


</p>--%>
  <a href="/product"> <span class="OrderMessage"></span></a> 
</div>
</asp:Content>

