﻿<%@ Page Title="Order Details" Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" CodeFile="orderdetails.aspx.cs" Inherits="orderdetails" %>
<%@ Register src="control/orderdtl.ascx" tagname="orderdtl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:orderdtl ID="orderdtl1" runat="server" />
</asp:Content>

