﻿<%@ Page Title="" Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" CodeFile="pressrelease.aspx.cs" Inherits="pressrelease" %>
<%@ Register Src="~/control/PressReleases.ascx" TagName="Press" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Press ID="ctrlPress" runat="server" />
</asp:Content>

