﻿<%@ Page Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" CodeFile="product.aspx.cs" Inherits="product" %>
<%@ Register Src="~/control/searchbykeyword.ascx" TagName="search" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<title id="t" runat="server"></title>
<style type="text/css">
#hh
{
   display:none;
}
</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="row">
 <uc1:search ID="search1" runat="server" />
 </div>
</asp:Content>

