﻿<%@ Page Title="Register" Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" CodeFile="Register.aspx.cs" Inherits="Register" %>
<%@ Register Src="~/control/register.ascx" TagName="Reg" TagPrefix="uc1"  %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


<uc1:Reg runat="server" ID="Reg" />
</asp:Content>

