﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="js/jquery-1.11.0.js"></script>
    <script type="text/javascript">

        function ss() {
            $.ajax({
                type: 'GET',
                url: 'https://secure.payu.com/api/v2_1/orders/{04e43fa2609a0e76b4ab}',
                
                dataType: "json",

                crossDomain: true,
                success: function (msg) {
                    console.log(msg);
                    alert("success");

                },
                error: function (request, status, error) {

                    alert(error);
                }
            });
        }

    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <input type="button" value="getData" id="jh" onclick="ss()"/>
    </div>
    </form>
</body>
</html>
