﻿<%@ Page Title="Update Profile" Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" CodeFile="UpdateProfile.aspx.cs" Inherits="UpdateProfile" %>
<%@ Register src="control/updtprfl.ascx" tagname="updtprfl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:updtprfl ID="updtprfl1" runat="server" />
</asp:Content>

