﻿<%@ Page Title="Wishlist" Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" CodeFile="wishlist.aspx.cs" Inherits="wishlist" %>
<%@ Register src="control/wishlist.ascx" tagname="wishlist" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  <uc1:wishlist ID="wishlist1" runat="server" />
</asp:Content>

